[Unit]
Description=virtual frame buffer X server for display %I
After=network.target

[Service]
ExecStart=/usr/bin/Xvfb %I -ac -screen 0 1280x1024x24

[Install]
WantedBy=multi-user.target
